In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 32 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 52.3 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=8ceecd4bc355fcff08ed645b1cd467c616c98618f5db47cb417443c283cdfa3a
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
if __name__ == "__main__":
  session = SparkSession.builder.appName("firstsql").master("local[2]").getOrCreate()
  readdata = session.read

In [ ]:
ibmdata = readdata.option("header", True).option("inferSchema", True).csv("IBMdata.csv")

In [ ]:
ibmdata.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- DailyRate: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- DistanceFromHome: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- EmployeeCount: integer (nullable = true)
 |-- EmployeeNumber: integer (nullable = true)
 |-- EnvironmentSatisfaction: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- HourlyRate: integer (nullable = true)
 |-- JobInvolvement: integer (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- JobSatisfaction: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- MonthlyIncome: integer (nullable = true)
 |-- MonthlyRate: integer (nullable = true)
 |-- NumCompaniesWorked: integer (nullable = true)
 |-- Over18: string (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- PercentSalaryHike: integer (nullable = true)
 |-- PerformanceRating: integer (nullable = true)
 |-- RelationshipSatisfaction: integer (nullable = true)
 |-- StandardHours: integer (nullable = true)
 |-- StockOptionLevel: integer (nullable = true)
 |-- TotalWorkingYears: integer (nullable = true)
 |-- TrainingTimesLastYear: integer (nullable = true)
 |-- WorkLifeBalance: integer (nullable = true)
 |-- YearsAtCompany: integer (nullable = true)
 |-- YearsInCurrentRole: integer (nullable = true)
 |-- YearsSinceLastPromotion: integer (nullable = true)
 |-- YearsWithCurrManager: integer (nullable = true)

In [ ]:
result1 = ibmdata.select("Gender", "Age")

In [ ]:
result1.show()

+------+---+
|Gender|Age|
+------+---+
|Female| 41|
|  Male| 49|
|  Male| 37|
|Female| 33|
|  Male| 27|
|  Male| 32|
|Female| 59|
|  Male| 30|
|  Male| 38|
|  Male| 36|
|  Male| 35|
|Female| 29|
|  Male| 31|
|  Male| 34|
|  Male| 28|
|Female| 29|
|  Male| 32|
|  Male| 22|
|Female| 53|
|  Male| 38|
+------+---+
only showing top 20 rows

In [ ]:
result2 = ibmdata.select("Age", "DailyRate", ibmdata.Department.like("S%"))
result2.show()

+---+---------+------------------+
|Age|DailyRate|Department LIKE S%|
+---+---------+------------------+
| 41|     1102|              true|
| 49|      279|             false|
| 37|     1373|             false|
| 33|     1392|             false|
| 27|      591|             false|
| 32|     1005|             false|
| 59|     1324|             false|
| 30|     1358|             false|
| 38|      216|             false|
| 36|     1299|             false|
| 35|      809|             false|
| 29|      153|             false|
| 31|      670|             false|
| 34|     1346|             false|
| 28|      103|             false|
| 29|     1389|             false|
| 32|      334|             false|
| 22|     1123|             false|
| 53|     1219|              true|
| 38|      371|             false|
+---+---------+------------------+
only showing top 20 rows

In [ ]:
result4 = ibmdata.select("Gender", ibmdata.JobRole.stratswith("Sales"))
result4.show()

TypeError: ignored

In [ ]:
result5 = ibmdata.select("Department", ibmdata.Age.between(80,90))
result5.show()

+--------------------+-----------------------------+
|          Department|((Age >= 80) AND (Age <= 90))|
+--------------------+-----------------------------+
|               Sales|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|               Sales|                        false|
|Research & Develo...|                        false|
+--------------------+-----------------------------+
only showing top 20 rows

In [ ]:
result6 = ibmdata.select("Gender", ibmdata.Department.isin("Sales", "Human Resources"))
result6.show()

+------+----------------------------------------+
|Gender|(Department IN (Sales, Human Resources))|
+------+----------------------------------------+
|Female|                                    true|
|  Male|                                   false|
|  Male|                                   false|
|Female|                                   false|
|  Male|                                   false|
|  Male|                                   false|
|Female|                                   false|
|  Male|                                   false|
|  Male|                                   false|
|  Male|                                   false|
|  Male|                                   false|
|Female|                                   false|
|  Male|                                   false|
|  Male|                                   false|
|  Male|                                   false|
|Female|                                   false|
|  Male|                                   false|
|  Male|                                   false|
|Female|                                    true|
|  Male|                                   false|
+------+----------------------------------------+
only showing top 20 rows

In [ ]:
result8 = ibmdata.select("Attrition", ibmdata.JobRole.endswith("Manager"), "JobRole", "Department")
result8.show()

+---------+--------------------------+--------------------+--------------------+
|Attrition|endswith(JobRole, Manager)|             JobRole|          Department|
+---------+--------------------------+--------------------+--------------------+
|      Yes|                     false|     Sales Executive|               Sales|
|       No|                     false|  Research Scientist|Research & Develo...|
|      Yes|                     false|Laboratory Techni...|Research & Develo...|
|       No|                     false|  Research Scientist|Research & Develo...|
|       No|                     false|Laboratory Techni...|Research & Develo...|
|       No|                     false|Laboratory Techni...|Research & Develo...|
|       No|                     false|Laboratory Techni...|Research & Develo...|
|       No|                     false|Laboratory Techni...|Research & Develo...|
|       No|                     false|Manufacturing Dir...|Research & Develo...|
|       No|                     false|Healthcare Repres...|Research & Develo...|
|       No|                     false|Laboratory Techni...|Research & Develo...|
|       No|                     false|Laboratory Techni...|Research & Develo...|
|       No|                     false|  Research Scientist|Research & Develo...|
|       No|                     false|Laboratory Techni...|Research & Develo...|
|      Yes|                     false|Laboratory Techni...|Research & Develo...|
|       No|                     false|Manufacturing Dir...|Research & Develo...|
|       No|                     false|  Research Scientist|Research & Develo...|
|       No|                     false|Laboratory Techni...|Research & Develo...|
|       No|                      true|             Manager|               Sales|
|       No|                     false|  Research Scientist|Research & Develo...|
+---------+--------------------------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
result9 = ibmdata.select("Gender", ibmdata.JobAge.substr(1,4), ibmdata.Age.when( col("Age") == 60, "Senior" ))

AttributeError: ignored

In [ ]:
result9 = ibmdata.filter((ibmdata["Gender"] == "Male") & (ibmdata["MaritalStatus"] == "Married"))
result9.show()

+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 49|       No|Travel_Frequently|      279|Research & Develo...|               8|        1|   Life Sciences|            1|             2|                      3|  Male|        61|             2|       2|  Research Scientist|              2|      Married|         5130|      24907|                 1|     Y|      No|               23|                4|                       4|           80|               1|               10|                    3|              3|            10|                 7|                      1|                   7|
| 27|       No|    Travel_Rarely|      591|Research & Develo...|               2|        1|         Medical|            1|             7|                      1|  Male|        40|             3|       1|Laboratory Techni...|              2|      Married|         3468|      16632|                 9|     Y|      No|               12|                3|                       4|           80|               1|                6|                    3|              3|             2|                 2|                      2|                   2|
| 36|       No|    Travel_Rarely|     1299|Research & Develo...|              27|        3|         Medical|            1|            13|                      3|  Male|        94|             3|       2|Healthcare Repres...|              3|      Married|         5237|      16577|                 6|     Y|      No|               13|                3|                       2|           80|               2|               17|                    3|              2|             7|                 7|                      7|                   7|
| 35|       No|    Travel_Rarely|      809|Research & Develo...|              16|        3|         Medical|            1|            14|                      1|  Male|        84|             4|       1|Laboratory Techni...|              2|      Married|         2426|      16479|                 0|     Y|      No|               13|                3|                       3|           80|               1|                6|                    5|              3|             5|                 4|                      0|                   3|
| 42|       No|    Travel_Rarely|      691|               Sales|               8|        4|       Marketing|            1|            35|                      3|  Male|        48|             3|       2|     Sales Executive|              2|      Married|         6825|      21173|                 0|     Y|      No|               11|                3|                       4|           80|               1|               10|                    2|              3|             9|                 7|                      4|                   2|
| 44|       No|    Travel_Rarely|     1459|Research & Develo...|              10|        4|           Other|            1|            40|                      4|  Male|        41|             3|       2|Healthcare Repres...|              4|      Married|         6465|      19121|                 2|     Y|     Yes|               13|                3|                       4|           80|               0|                9|                    5|              4|             4|                 2|                      1|                   3|
| 39|      Yes|    Travel_Rarely|      895|               Sales|               5|        3|Technical Degree|            1|            42|                      4|  Male|        56|             3|       2|Sales Representative|              4|      Married|         2086|       3335|                 3|     Y|      No|               14|                3|                       3|           80|               1|               19|                    6|              4|             1|                 0|                      0|                   0|
| 24|      Yes|    Travel_Rarely|      813|Research & Develo...|               1|        3|         Medical|            1|            45|                      2|  Male|        61|             3|       1|  Research Scientist|              4|      Married|         2293|       3020|                 2|     Y|     Yes|               16|                3|                       1|           80|               1|                6|                    2|              2|             2|                 0|                      2|                   0|
| 50|      Yes|    Travel_Rarely|      869|               Sales|               3|        2|       Marketing|            1|            47|                      1|  Male|        86|             2|       1|Sales Representative|              3|      Married|         2683|       3810|                 1|     Y|     Yes|               14|                3|                       3|           80|               0|                3|                    2|              3|             3|                 2|                      0|                   2|
| 37|       No|    Travel_Rarely|      408|Research & Develo...|              19|        2|   Life Sciences|            1|            61|                      2|  Male|        73|             3|       1|  Research Scientist|              2|      Married|         3022|      10227|                 4|     Y|      No|               21|                4|                       1|           80|               0|                8|                    1|              3|             1|                 0|                      0|                   0|
| 35|       No|    Travel_Rarely|     1229|Research & Develo...|               8|        1|   Life Sciences|            1|            63|                      4|  Male|        36|             4|       1|Laboratory Techni...|              4|      Married|         2269|       4892|                 1|     Y|      No|               19|                3|                       4|           80|               0|                1|                    2|              3|             1|                 0|                      0|                   1|
| 35|       No|       Non-Travel|     1097|Research & Develo...|              11|        2|         Medical|            1|            70|                      3|  Male|        79|             2|       3|Healthcare Repres...|              1|      Married|         9884|       8302|                 2|     Y|     Yes|               13|                3|                       3|           80|               1|               10|                    3|              3|             4|                 0|                      2|                   3|
| 35|       No|Travel_Frequently|      853|               Sales|              18|        5|   Life Sciences|            1|            74|                      2|  Male|        71|             3|       3|     Sales Executive|              1|      Married|         9069|      11031|                 1|     Y|      No|               22|                4|                       4|           80|               1|                9|                    3|              2|             9|                 8|                      1|                   8|
| 32|       No|    Travel_Rarely|      427|Research & Develo...|               1|        3|         Medical|            1|            78|                      1|  Male|        33|             3|       2|Manufacturing Dir...|              4|      Married|         6162|      10877|                 1|     Y|     Yes|               22|                4|                       2|           80|               1|                9|                    3|              3|             9|                 8|                      7|                   8|
| 35|       No|Travel_Frequently|      664|Research & Develo...|               1|        3|         Medical|            1|            88|                      2|  Male|        79|             3|       1|  Research Scientist|              1|      Married|         2194|       5868|                 4|     Y|      No|               13|                3|                       4|           80|               1|                5|                    2|              2|             3|                 2|                      1|                   2|
| 36|      Yes|    Travel_Rarely|      318|Research & Develo...|               9|        3|         Medical|            1|            90|                      4|  Male|        79|             2|       1|  Research Scientist|              3|      Married|         3388|      21777|                 0|     Y|     Yes|               17|                3|                       1|           80|               1|                2|                    0|              2|             1|                 0|                      0|                   0|
| 29|       No|    Travel_Rarely|     1328|Research & Develo...|               2|        3|   Life Sciences|            1|            94|                      3|  Male|        76|             3|       1|  Research Scientist|              2|      Married|         2703|       4956|                 0|     Y|      No|               23|                4|                       4|           80|               1|                6|                    3|              3|             5|                 4|                      0|                   4|
| 32|       No|    Travel_Rarely|      548|Research & Develo...|               1|        3|   Life Sciences|            1|            96|                      2|  Male|        66|             3|       2|  Research Scientist|              2|      Married|         6220|       7346|                 1|     Y|      No|               17|                3|                       2|           80|               2|               10|                    3|              3|            10|                 4|                      0|                   9|
| 45|       No|    Travel_Rarely|      193|Research & Develo...|               6|        4|           Other|            1|           101|                      4|  Male|        52|             3|       3|   Research Director|              1|      Married|        13245|      15067|                 4|     Y|     Yes|               14|                3|                       2|           80|               0|               17|                    3|              4|             0|                 0|                      0|                   0|
| 30|       No|    Travel_Rarely|      852|Research & Develo...|               1|        1|   Life Sciences|            1|           104|                      4|  Male|        55|             2|       2|Laboratory Techni...|              4|      Married|         5126|      15998|                 1|     Y|     Yes|               12|                3|                       3|           80|               2|               10|                    1|              2|            10|                 8|                      3|                   0|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [ ]:
result9 = ibmdata.filter((ibmdata["Gender"] == "Male") & (ibmdata["MaritalStatus"] == "Married"))
result9.select("Gender", "MaritalStatus", "Department", "Age").show()

+------+-------------+--------------------+---+
|Gender|MaritalStatus|          Department|Age|
+------+-------------+--------------------+---+
|  Male|      Married|Research & Develo...| 49|
|  Male|      Married|Research & Develo...| 27|
|  Male|      Married|Research & Develo...| 36|
|  Male|      Married|Research & Develo...| 35|
|  Male|      Married|               Sales| 42|
|  Male|      Married|Research & Develo...| 44|
|  Male|      Married|               Sales| 39|
|  Male|      Married|Research & Develo...| 24|
|  Male|      Married|               Sales| 50|
|  Male|      Married|Research & Develo...| 37|
|  Male|      Married|Research & Develo...| 35|
|  Male|      Married|Research & Develo...| 35|
|  Male|      Married|               Sales| 35|
|  Male|      Married|Research & Develo...| 32|
|  Male|      Married|Research & Develo...| 35|
|  Male|      Married|Research & Develo...| 36|
|  Male|      Married|Research & Develo...| 29|
|  Male|      Married|Research & Develo...| 32|
|  Male|      Married|Research & Develo...| 45|
|  Male|      Married|Research & Develo...| 30|
+------+-------------+--------------------+---+
only showing top 20 rows

In [ ]:
ibmdata.filter(ibmdata["Age"] > 58).select("Age", "Gender").show()

+---+------+
|Age|Gender|
+---+------+
| 59|Female|
| 59|Female|
| 59|Female|
| 59|Female|
| 59|  Male|
| 59|  Male|
| 60|Female|
| 60|Female|
| 60|  Male|
| 59|Female|
| 59|  Male|
| 60|  Male|
| 59|Female|
| 59|  Male|
| 60|  Male|
+---+------+

In [ ]:
#display DailyRate, Gender, Department, JonRole, of male employees belonging to Sales Departments

In [ ]:
ibmdata.select("DailyRate", "Gender", "Department", "JobRole")

In [ ]:
ibmdata.filter((ibmdata["MaritalStatus"] == "Married") & (ibmdata["Gender"]== "Female") & (ibmdata["Age"] > 18)).select("Age", "Attrition", "JobRole", "MaritalStatus").show()

+---+---------+--------------------+-------------+
|Age|Attrition|             JobRole|MaritalStatus|
+---+---------+--------------------+-------------+
| 33|       No|  Research Scientist|      Married|
| 59|       No|Laboratory Techni...|      Married|
| 53|       No|             Manager|      Married|
| 44|       No|Healthcare Repres...|      Married|
| 35|       No|Sales Representative|      Married|
| 36|       No|  Research Scientist|      Married|
| 33|       No|     Sales Executive|      Married|
| 41|      Yes|   Research Director|      Married|
| 26|       No|     Sales Executive|      Married|
| 35|       No|Laboratory Techni...|      Married|
| 36|       No|Laboratory Techni...|      Married|
| 54|       No|   Research Director|      Married|
| 24|       No|     Sales Executive|      Married|
| 59|       No|             Manager|      Married|
| 50|       No|   Research Director|      Married|
| 36|       No|     Sales Executive|      Married|
| 56|      Yes|  Research Scientist|      Married|
| 26|       No|  Research Scientist|      Married|
| 58|      Yes|Healthcare Repres...|      Married|
| 49|       No|Manufacturing Dir...|      Married|
+---+---------+--------------------+-------------+
only showing top 20 rows