In [52]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

In [1]:
from pyspark.sql import SparkSession

In [54]:
if __name__ == "__main__":
  session = SparkSession.builder.appName('firstsql').master('local[2]').getOrCreate()
  readdata = session.read

In [55]:
ibmdata = readdata.option('header' , True).option('inferSchema' ,True).csv('IBMdata.csv')

In [56]:
ibmdata.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- DailyRate: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- DistanceFromHome: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- EmployeeCount: integer (nullable = true)
 |-- EmployeeNumber: integer (nullable = true)
 |-- EnvironmentSatisfaction: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- HourlyRate: integer (nullable = true)
 |-- JobInvolvement: integer (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- JobSatisfaction: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- MonthlyIncome: integer (nullable = true)
 |-- MonthlyRate: integer (nullable = true)
 |-- NumCompaniesWorked: integer (nullable = true)
 |-- Over18: string (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- PercentSalaryHike: integer (nullable = true)
 |-- PerformanceRating: integer (nullable = true)
 |-- RelationshipSatisfaction: integer (nullable = true)
 |-- StandardHours: integer (nullable = true)
 |-- StockOptionLevel: integer (nullable = true)
 |-- TotalWorkingYears: integer (nullable = true)
 |-- TrainingTimesLastYear: integer (nullable = true)
 |-- WorkLifeBalance: integer (nullable = true)
 |-- YearsAtCompany: integer (nullable = true)
 |-- YearsInCurrentRole: integer (nullable = true)
 |-- YearsSinceLastPromotion: integer (nullable = true)
 |-- YearsWithCurrManager: integer (nullable = true)

In [57]:
# displaying the  records is done via show()
# in RDD we used to diplay we use collect()
result1 = ibmdata.select('Gender','Age')
result1.show()

+------+---+
|Gender|Age|
+------+---+
|Female| 41|
|  Male| 49|
|  Male| 37|
|Female| 33|
|  Male| 27|
|  Male| 32|
|Female| 59|
|  Male| 30|
|  Male| 38|
|  Male| 36|
|  Male| 35|
|Female| 29|
|  Male| 31|
|  Male| 34|
|  Male| 28|
|Female| 29|
|  Male| 32|
|  Male| 22|
|Female| 53|
|  Male| 38|
+------+---+
only showing top 20 rows

In [58]:
result2 = ibmdata.select('Age','DailyRate',ibmdata.Department.like("S%")).show()

+---+---------+------------------+
|Age|DailyRate|Department LIKE S%|
+---+---------+------------------+
| 41|     1102|              true|
| 49|      279|             false|
| 37|     1373|             false|
| 33|     1392|             false|
| 27|      591|             false|
| 32|     1005|             false|
| 59|     1324|             false|
| 30|     1358|             false|
| 38|      216|             false|
| 36|     1299|             false|
| 35|      809|             false|
| 29|      153|             false|
| 31|      670|             false|
| 34|     1346|             false|
| 28|      103|             false|
| 29|     1389|             false|
| 32|      334|             false|
| 22|     1123|             false|
| 53|     1219|              true|
| 38|      371|             false|
+---+---------+------------------+
only showing top 20 rows

In [59]:
result4 = ibmdata.select('Gender',ibmdata.JobRole.startswith('Sales')).show()

+------+--------------------------+
|Gender|startswith(JobRole, Sales)|
+------+--------------------------+
|Female|                      true|
|  Male|                     false|
|  Male|                     false|
|Female|                     false|
|  Male|                     false|
|  Male|                     false|
|Female|                     false|
|  Male|                     false|
|  Male|                     false|
|  Male|                     false|
|  Male|                     false|
|Female|                     false|
|  Male|                     false|
|  Male|                     false|
|  Male|                     false|
|Female|                     false|
|  Male|                     false|
|  Male|                     false|
|Female|                     false|
|  Male|                     false|
+------+--------------------------+
only showing top 20 rows

In [61]:
result5 = ibmdata.select('Department' ,ibmdata.Age.between(60,90))
result5.show()

+--------------------+-----------------------------+
|          Department|((Age >= 60) AND (Age <= 90))|
+--------------------+-----------------------------+
|               Sales|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|               Sales|                        false|
|Research & Develo...|                        false|
+--------------------+-----------------------------+
only showing top 20 rows

In [62]:
result7 = ibmdata.select('Gender' , ibmdata.Department.isin('Sales','Human Resources'))
result7.show()

+------+----------------------------------------+
|Gender|(Department IN (Sales, Human Resources))|
+------+----------------------------------------+
|Female|                                    true|
|  Male|                                   false|
|  Male|                                   false|
|Female|                                   false|
|  Male|                                   false|
|  Male|                                   false|
|Female|                                   false|
|  Male|                                   false|
|  Male|                                   false|
|  Male|                                   false|
|  Male|                                   false|
|Female|                                   false|
|  Male|                                   false|
|  Male|                                   false|
|  Male|                                   false|
|Female|                                   false|
|  Male|                                   false|
|  Male|                                   false|
|Female|                                    true|
|  Male|                                   false|
+------+----------------------------------------+
only showing top 20 rows

In [63]:
result9 = ibmdata.select('Gender',ibmdata.JobRole.substr(1,4))
result9.show()

+------+------------------------+
|Gender|substring(JobRole, 1, 4)|
+------+------------------------+
|Female|                    Sale|
|  Male|                    Rese|
|  Male|                    Labo|
|Female|                    Rese|
|  Male|                    Labo|
|  Male|                    Labo|
|Female|                    Labo|
|  Male|                    Labo|
|  Male|                    Manu|
|  Male|                    Heal|
|  Male|                    Labo|
|Female|                    Labo|
|  Male|                    Rese|
|  Male|                    Labo|
|  Male|                    Labo|
|Female|                    Manu|
|  Male|                    Rese|
|  Male|                    Labo|
|Female|                    Mana|
|  Male|                    Rese|
+------+------------------------+
only showing top 20 rows

In [64]:
result9 = ibmdata.filter((ibmdata['Gender']=="Male") & (ibmdata['MaritalStatus'] == 'Married') | (ibmdata['Age']> 50))
result9.show()

+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 49|       No|Travel_Frequently|      279|Research & Develo...|               8|        1|   Life Sciences|            1|             2|                      3|  Male|        61|             2|       2|  Research Scientist|              2|      Married|         5130|      24907|                 1|     Y|      No|               23|                4|                       4|           80|               1|               10|                    3|              3|            10|                 7|                      1|                   7|
| 27|       No|    Travel_Rarely|      591|Research & Develo...|               2|        1|         Medical|            1|             7|                      1|  Male|        40|             3|       1|Laboratory Techni...|              2|      Married|         3468|      16632|                 9|     Y|      No|               12|                3|                       4|           80|               1|                6|                    3|              3|             2|                 2|                      2|                   2|
| 59|       No|    Travel_Rarely|     1324|Research & Develo...|               3|        3|         Medical|            1|            10|                      3|Female|        81|             4|       1|Laboratory Techni...|              1|      Married|         2670|       9964|                 4|     Y|     Yes|               20|                4|                       1|           80|               3|               12|                    3|              2|             1|                 0|                      0|                   0|
| 36|       No|    Travel_Rarely|     1299|Research & Develo...|              27|        3|         Medical|            1|            13|                      3|  Male|        94|             3|       2|Healthcare Repres...|              3|      Married|         5237|      16577|                 6|     Y|      No|               13|                3|                       2|           80|               2|               17|                    3|              2|             7|                 7|                      7|                   7|
| 35|       No|    Travel_Rarely|      809|Research & Develo...|              16|        3|         Medical|            1|            14|                      1|  Male|        84|             4|       1|Laboratory Techni...|              2|      Married|         2426|      16479|                 0|     Y|      No|               13|                3|                       3|           80|               1|                6|                    5|              3|             5|                 4|                      0|                   3|
| 53|       No|    Travel_Rarely|     1219|               Sales|               2|        4|   Life Sciences|            1|            23|                      1|Female|        78|             2|       4|             Manager|              4|      Married|        15427|      22021|                 2|     Y|      No|               16|                3|                       3|           80|               0|               31|                    3|              3|            25|                 8|                      3|                   7|
| 53|       No|    Travel_Rarely|     1282|Research & Develo...|               5|        3|           Other|            1|            32|                      3|Female|        58|             3|       5|             Manager|              3|     Divorced|        19094|      10735|                 4|     Y|      No|               11|                3|                       4|           80|               1|               26|                    3|              2|            14|                13|                      4|                   8|
| 42|       No|    Travel_Rarely|      691|               Sales|               8|        4|       Marketing|            1|            35|                      3|  Male|        48|             3|       2|     Sales Executive|              2|      Married|         6825|      21173|                 0|     Y|      No|               11|                3|                       4|           80|               1|               10|                    2|              3|             9|                 7|                      4|                   2|
| 44|       No|    Travel_Rarely|     1459|Research & Develo...|              10|        4|           Other|            1|            40|                      4|  Male|        41|             3|       2|Healthcare Repres...|              4|      Married|         6465|      19121|                 2|     Y|     Yes|               13|                3|                       4|           80|               0|                9|                    5|              4|             4|                 2|                      1|                   3|
| 39|      Yes|    Travel_Rarely|      895|               Sales|               5|        3|Technical Degree|            1|            42|                      4|  Male|        56|             3|       2|Sales Representative|              4|      Married|         2086|       3335|                 3|     Y|      No|               14|                3|                       3|           80|               1|               19|                    6|              4|             1|                 0|                      0|                   0|
| 24|      Yes|    Travel_Rarely|      813|Research & Develo...|               1|        3|         Medical|            1|            45|                      2|  Male|        61|             3|       1|  Research Scientist|              4|      Married|         2293|       3020|                 2|     Y|     Yes|               16|                3|                       1|           80|               1|                6|                    2|              2|             2|                 0|                      2|                   0|
| 50|      Yes|    Travel_Rarely|      869|               Sales|               3|        2|       Marketing|            1|            47|                      1|  Male|        86|             2|       1|Sales Representative|              3|      Married|         2683|       3810|                 1|     Y|     Yes|               14|                3|                       3|           80|               0|                3|                    2|              3|             3|                 2|                      0|                   2|
| 37|       No|    Travel_Rarely|      408|Research & Develo...|              19|        2|   Life Sciences|            1|            61|                      2|  Male|        73|             3|       1|  Research Scientist|              2|      Married|         3022|      10227|                 4|     Y|      No|               21|                4|                       1|           80|               0|                8|                    1|              3|             1|                 0|                      0|                   0|
| 35|       No|    Travel_Rarely|     1229|Research & Develo...|               8|        1|   Life Sciences|            1|            63|                      4|  Male|        36|             4|       1|Laboratory Techni...|              4|      Married|         2269|       4892|                 1|     Y|      No|               19|                3|                       4|           80|               0|                1|                    2|              3|             1|                 0|                      0|                   1|
| 35|       No|       Non-Travel|     1097|Research & Develo...|              11|        2|         Medical|            1|            70|                      3|  Male|        79|             2|       3|Healthcare Repres...|              1|      Married|         9884|       8302|                 2|     Y|     Yes|               13|                3|                       3|           80|               1|               10|                    3|              3|             4|                 0|                      2|                   3|
| 35|       No|Travel_Frequently|      853|               Sales|              18|        5|   Life Sciences|            1|            74|                      2|  Male|        71|             3|       3|     Sales Executive|              1|      Married|         9069|      11031|                 1|     Y|      No|               22|                4|                       4|           80|               1|                9|                    3|              2|             9|                 8|                      1|                   8|
| 32|       No|    Travel_Rarely|      427|Research & Develo...|               1|        3|         Medical|            1|            78|                      1|  Male|        33|             3|       2|Manufacturing Dir...|              4|      Married|         6162|      10877|                 1|     Y|     Yes|               22|                4|                       2|           80|               1|                9|                    3|              3|             9|                 8|                      7|                   8|
| 59|       No|    Travel_Rarely|     1435|               Sales|              25|        3|   Life Sciences|            1|            81|                      1|Female|        99|             3|       3|     Sales Executive|              1|       Single|         7637|       2354|                 7|     Y|      No|               11|                3|                       4|           80|               0|               28|                    3|              2|            21|                16|                      7|                   9|
| 55|       No|    Travel_Rarely|      836|Research & Develo...|               8|        3|         Medical|            1|            84|                      4|Female|        33|             3|       4|             Manager|              3|     Divorced|        14756|      19730|                 2|     Y|     Yes|               14|                3|                       3|           80|               3|               21|                    2|              3|             5|                 0|                      0|                   2|
| 35|       No|Travel_Frequently|      664|Research & Develo...|               1|        3|         Medical|            1|            88|                      2|  Male|        79|             3|       1|  Research Scientist|              1|      Married|         2194|       5868|                 4|     Y|      No|               13|                3|                       4|           80|               1|                5|                    2|              2|             3|                 2|                      1|                   2|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [65]:
result10 = ibmdata.filter((ibmdata['Attrition'] == 'Yes') & (ibmdata['Age'] >= 30 ))
result10.show()

+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 41|      Yes|    Travel_Rarely|     1102|               Sales|               1|        2|   Life Sciences|            1|             1|                      2|Female|        94|             3|       2|     Sales Executive|              4|       Single|         5993|      19479|                 8|     Y|     Yes|               11|                3|                       1|           80|               0|                8|                    0|              1|             6|                 4|                      0|                   5|
| 37|      Yes|    Travel_Rarely|     1373|Research & Develo...|               2|        2|           Other|            1|             4|                      4|  Male|        92|             2|       1|Laboratory Techni...|              3|       Single|         2090|       2396|                 6|     Y|     Yes|               15|                3|                       2|           80|               0|                7|                    3|              3|             0|                 0|                      0|                   0|
| 36|      Yes|    Travel_Rarely|     1218|               Sales|               9|        4|   Life Sciences|            1|            27|                      3|  Male|        82|             2|       1|Sales Representative|              1|       Single|         3407|       6986|                 7|     Y|      No|               23|                4|                       2|           80|               0|               10|                    4|              3|             5|                 3|                      0|                   3|
| 34|      Yes|    Travel_Rarely|      699|Research & Develo...|               6|        1|         Medical|            1|            31|                      2|  Male|        83|             3|       1|  Research Scientist|              1|       Single|         2960|      17102|                 2|     Y|      No|               11|                3|                       3|           80|               0|                8|                    2|              3|             4|                 2|                      1|                   3|
| 32|      Yes|Travel_Frequently|     1125|Research & Develo...|              16|        1|   Life Sciences|            1|            33|                      2|Female|        72|             1|       1|  Research Scientist|              1|       Single|         3919|       4681|                 1|     Y|     Yes|               22|                4|                       2|           80|               0|               10|                    5|              3|            10|                 2|                      6|                   7|
| 39|      Yes|    Travel_Rarely|      895|               Sales|               5|        3|Technical Degree|            1|            42|                      4|  Male|        56|             3|       2|Sales Representative|              4|      Married|         2086|       3335|                 3|     Y|      No|               14|                3|                       3|           80|               1|               19|                    6|              4|             1|                 0|                      0|                   0|
| 50|      Yes|    Travel_Rarely|      869|               Sales|               3|        2|       Marketing|            1|            47|                      1|  Male|        86|             2|       1|Sales Representative|              3|      Married|         2683|       3810|                 1|     Y|     Yes|               14|                3|                       3|           80|               0|                3|                    2|              3|             3|                 2|                      0|                   2|
| 41|      Yes|    Travel_Rarely|     1360|Research & Develo...|              12|        3|Technical Degree|            1|            58|                      2|Female|        49|             3|       5|   Research Director|              3|      Married|        19545|      16280|                 1|     Y|      No|               12|                3|                       4|           80|               0|               23|                    0|              3|            22|                15|                     15|                   8|
| 48|      Yes|    Travel_Rarely|      626|Research & Develo...|               1|        2|   Life Sciences|            1|            64|                      1|  Male|        98|             2|       3|Laboratory Techni...|              3|       Single|         5381|      19294|                 9|     Y|     Yes|               13|                3|                       4|           80|               0|               23|                    2|              3|             1|                 0|                      0|                   0|
| 36|      Yes|    Travel_Rarely|      318|Research & Develo...|               9|        3|         Medical|            1|            90|                      4|  Male|        79|             2|       1|  Research Scientist|              3|      Married|         3388|      21777|                 0|     Y|     Yes|               17|                3|                       1|           80|               1|                2|                    0|              2|             1|                 0|                      0|                   0|
| 46|      Yes|    Travel_Rarely|      669|               Sales|               9|        2|         Medical|            1|           118|                      3|  Male|        64|             2|       3|     Sales Executive|              4|       Single|         9619|      13596|                 1|     Y|      No|               16|                3|                       4|           80|               0|                9|                    3|              3|             9|                 8|                      4|                   7|
| 37|      Yes|    Travel_Rarely|      807|     Human Resources|               6|        4| Human Resources|            1|           133|                      3|  Male|        63|             3|       1|     Human Resources|              1|     Divorced|         2073|      23648|                 4|     Y|     Yes|               22|                4|                       4|           80|               0|                7|                    3|              3|             3|                 2|                      0|                   2|
| 34|      Yes|Travel_Frequently|      658|Research & Develo...|               7|        3|   Life Sciences|            1|           147|                      1|  Male|        66|             1|       2|Laboratory Techni...|              3|       Single|         6074|      22887|                 1|     Y|     Yes|               24|                4|                       4|           80|               0|                9|                    3|              3|             9|                 7|                      0|                   6|
| 56|      Yes|    Travel_Rarely|      441|Research & Develo...|              14|        4|   Life Sciences|            1|           161|                      2|Female|        72|             3|       1|  Research Scientist|              2|      Married|         4963|       4510|                 9|     Y|     Yes|               18|                3|                       1|           80|               3|                7|                    2|              3|             5|                 4|                      4|                   3|
| 31|      Yes|    Travel_Rarely|      249|               Sales|               6|        4|   Life Sciences|            1|           163|                      2|  Male|        76|             1|       2|     Sales Executive|              3|      Married|         6172|      20739|                 4|     Y|     Yes|               18|                3|                       2|           80|               0|               12|                    3|              2|             7|                 7|                      7|                   7|
| 58|      Yes|    Travel_Rarely|      147|Research & Develo...|              23|        4|         Medical|            1|           165|                      4|Female|        94|             3|       3|Healthcare Repres...|              4|      Married|        10312|       3465|                 1|     Y|      No|               12|                3|                       4|           80|               1|               40|                    3|              2|            40|                10|                     15|                   6|
| 31|      Yes|    Travel_Rarely|      542|               Sales|              20|        3|   Life Sciences|            1|           175|                      2|Female|        71|             1|       2|     Sales Executive|              3|      Married|         4559|      24788|                 3|     Y|     Yes|               11|                3|                       3|           80|               1|                4|                    2|              3|             2|                 2|                      2|                   2|
| 51|      Yes|Travel_Frequently|     1150|Research & Develo...|               8|        4|   Life Sciences|            1|           179|                      1|  Male|        53|             1|       3|Manufacturing Dir...|              4|       Single|        10650|      25150|                 2|     Y|      No|               15|                3|                       4|           80|               0|               18|                    2|              3|             4|                 2|                      0|                   3|
| 32|      Yes|    Travel_Rarely|     1033|Research & Develo...|               9|        3|         Medical|            1|           190|                      1|Female|        41|             3|       1|Laboratory Techni...|              1|       Single|         4200|      10224|                 7|     Y|      No|               22|                4|                       1|           80|               0|               10|                    2|              4|             5|                 4|                      0|                   4|
| 41|      Yes|    Travel_Rarely|     1356|               Sales|              20|        2|       Marketing|            1|           248|                      2|Female|        70|             3|       1|Sales Representative|              2|       Single|         3140|      21728|                 1|     Y|     Yes|               22|                4|                       4|           80|               0|                4|                    5|              2|             4|                 3|                      0|                   2|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [66]:
result11 = ibmdata.filter((ibmdata['Age'] >40) & (ibmdata['MaritalStatus'] == 'Married')).select('Gender' ,'BusinessTravel')
result11.show()

+------+-----------------+
|Gender|   BusinessTravel|
+------+-----------------+
|  Male|Travel_Frequently|
|Female|    Travel_Rarely|
|Female|    Travel_Rarely|
|  Male|    Travel_Rarely|
|Female|    Travel_Rarely|
|  Male|    Travel_Rarely|
|  Male|    Travel_Rarely|
|Female|    Travel_Rarely|
|  Male|    Travel_Rarely|
|  Male|    Travel_Rarely|
|  Male|    Travel_Rarely|
|  Male|Travel_Frequently|
|Female|    Travel_Rarely|
|  Male|       Non-Travel|
|Female|       Non-Travel|
|Female|Travel_Frequently|
|  Male|Travel_Frequently|
|Female|    Travel_Rarely|
|Female|    Travel_Rarely|
|Female|    Travel_Rarely|
+------+-----------------+
only showing top 20 rows

In [67]:
conditon1 = ibmdata.filter((ibmdata['DailyRate'] >500) & (ibmdata['MaritalStatus'] == 'Married')).select('Department','JobRole').show()

+--------------------+--------------------+
|          Department|             JobRole|
+--------------------+--------------------+
|Research & Develo...|  Research Scientist|
|Research & Develo...|Laboratory Techni...|
|Research & Develo...|Laboratory Techni...|
|Research & Develo...|Healthcare Repres...|
|Research & Develo...|Laboratory Techni...|
|               Sales|             Manager|
|               Sales|     Sales Executive|
|Research & Develo...|Healthcare Repres...|
|               Sales|Sales Representative|
|Research & Develo...|  Research Scientist|
|               Sales|Sales Representative|
|               Sales|Sales Representative|
|Research & Develo...|  Research Scientist|
|               Sales|     Sales Executive|
|Research & Develo...|   Research Director|
|Research & Develo...|Laboratory Techni...|
|Research & Develo...|Healthcare Repres...|
|               Sales|     Sales Executive|
|               Sales|     Sales Executive|
|Research & Develo...|Laboratory Techni...|
+--------------------+--------------------+
only showing top 20 rows

In [68]:
condition2 = ibmdata.filter((ibmdata['EmployeeNumber'] >= 30) |(ibmdata['EmployeeCount'] > 5) ).select('Department' ,ibmdata.Age.between(50,90)).show()

+--------------------+-----------------------------+
|          Department|((Age >= 50) AND (Age <= 90))|
+--------------------+-----------------------------+
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                         true|
|Research & Develo...|                        false|
|               Sales|                        false|
|Research & Develo...|                        false|
|               Sales|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|               Sales|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|               Sales|                         true|
|               Sales|                        false|
|Research & Develo...|                        false|
|               Sales|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
|Research & Develo...|                        false|
+--------------------+-----------------------------+
only showing top 20 rows

In [69]:
condition3 = ibmdata.filter((ibmdata['Gender'] == 'Male') &(ibmdata['Department']=='Sales')).select('DailyRate','Gender' ,'Department','JobRole').show()

+---------+------+----------+--------------------+
|DailyRate|Gender|Department|             JobRole|
+---------+------+----------+--------------------+
|     1218|  Male|     Sales|Sales Representative|
|      691|  Male|     Sales|     Sales Executive|
|      895|  Male|     Sales|Sales Representative|
|      869|  Male|     Sales|Sales Representative|
|      994|  Male|     Sales|     Sales Executive|
|     1065|  Male|     Sales|     Sales Executive|
|     1211|  Male|     Sales|     Sales Executive|
|      853|  Male|     Sales|     Sales Executive|
|      776|  Male|     Sales|     Sales Executive|
|      111|  Male|     Sales|     Sales Executive|
|      541|  Male|     Sales|Sales Representative|
|      669|  Male|     Sales|     Sales Executive|
|      632|  Male|     Sales|     Sales Executive|
|     1093|  Male|     Sales|     Sales Executive|
|      120|  Male|     Sales|     Sales Executive|
|      682|  Male|     Sales|     Sales Executive|
|      240|  Male|     Sales|     Sales Executive|
|     1189|  Male|     Sales|     Sales Executive|
|      394|  Male|     Sales|             Manager|
|      750|  Male|     Sales|     Sales Executive|
+---------+------+----------+--------------------+
only showing top 20 rows

In [70]:
condition4 = ibmdata.filter((ibmdata['MaritalStatus'] == 'Married') & (ibmdata['Gender']== 'Female') & (ibmdata['DailyRate'] > 150 ) & (ibmdata['Age'] >50)).select('Age','Attrition','JobRole','MaritalStatus').limit(5).show()

+---+---------+--------------------+-------------+
|Age|Attrition|             JobRole|MaritalStatus|
+---+---------+--------------------+-------------+
| 59|       No|Laboratory Techni...|      Married|
| 53|       No|             Manager|      Married|
| 54|       No|   Research Director|      Married|
| 59|       No|             Manager|      Married|
| 56|      Yes|  Research Scientist|      Married|
+---+---------+--------------------+-------------+

In [74]:
contition5 = ibmdata.filter((ibmdata['Department'] == 'Sales') & (ibmdata['MaritalStatus'] != 'Married') & (ibmdata['JobRole'].like('S%'))).select('JobRole','Department','MaritalStatus' ,'Age').show()

+--------------------+----------+-------------+---+
|             JobRole|Department|MaritalStatus|Age|
+--------------------+----------+-------------+---+
|     Sales Executive|     Sales|       Single| 41|
|Sales Representative|     Sales|       Single| 36|
|     Sales Executive|     Sales|       Single| 27|
|     Sales Executive|     Sales|       Single| 34|
|     Sales Executive|     Sales|       Single| 46|
|     Sales Executive|     Sales|     Divorced| 44|
|     Sales Executive|     Sales|       Single| 59|
|     Sales Executive|     Sales|       Single| 59|
|     Sales Executive|     Sales|       Single| 35|
|Sales Representative|     Sales|     Divorced| 23|
|     Sales Executive|     Sales|       Single| 46|
|     Sales Executive|     Sales|       Single| 51|
|     Sales Executive|     Sales|     Divorced| 30|
|     Sales Executive|     Sales|       Single| 32|
|     Sales Executive|     Sales|       Single| 58|
|     Sales Executive|     Sales|       Single| 25|
|     Sales Executive|     Sales|       Single| 37|
|Sales Representative|     Sales|       Single| 19|
|     Sales Executive|     Sales|       Single| 50|
|     Sales Executive|     Sales|     Divorced| 41|
+--------------------+----------+-------------+---+
only showing top 20 rows