In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 33 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 44.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=675a1ac6910db9411200d5ae82acf75447d6d31d9edbee9e08228f2e15a701aa
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
from pyspark.sql import SparkSession

In [595]:
session = SparkSession.builder.appName("Mycode").master("local").getOrCreate()
data = session.read.csv("Admission_Prediction.csv", header = True, inferSchema=True)
data.show()

+---+----------+---------+-----------+-----------------+---+---+----+--------+---------------+
|_c0|Serial No.|GRE Score|TOEFL Score|University Rating|SOP|LOR|CGPA|Research|Chance of Admit|
+---+----------+---------+-----------+-----------------+---+---+----+--------+---------------+
|  0|         1|    337.0|      118.0|              4.0|4.5|4.5|9.65|       1|           0.92|
|  1|         2|    324.0|      107.0|              4.0|4.0|4.5|8.87|       1|           0.76|
|  3|         4|    322.0|      110.0|              3.0|3.5|2.5|8.67|       1|            0.8|
|  4|         5|    314.0|      103.0|              2.0|2.0|3.0|8.21|       0|           0.65|
|  5|         6|    330.0|      115.0|              5.0|4.5|3.0|9.34|       1|            0.9|
|  7|         8|    308.0|      101.0|              2.0|3.0|4.0| 7.9|       0|           0.68|
|  8|         9|    302.0|      102.0|              1.0|2.0|1.5| 8.0|       0|            0.5|
|  9|        10|    323.0|      108.0|              3.0|3.5|3.0| 8.6|       0|           0.45|
| 10|        11|    325.0|      106.0|              3.0|3.5|4.0| 8.4|       1|           0.52|
| 11|        12|    327.0|      111.0|              4.0|4.0|4.5| 9.0|       1|           0.84|
| 13|        14|    307.0|      109.0|              3.0|4.0|3.0| 8.0|       1|           0.62|
| 14|        15|    311.0|      104.0|              3.0|3.5|2.0| 8.2|       1|           0.61|
| 15|        16|    314.0|      105.0|              3.0|3.5|2.5| 8.3|       0|           0.54|
| 16|        17|    317.0|      107.0|              3.0|4.0|3.0| 8.7|       0|           0.66|
| 17|        18|    319.0|      106.0|              3.0|4.0|3.0| 8.0|       1|           0.65|
| 18|        19|    318.0|      110.0|              3.0|4.0|3.0| 8.8|       0|           0.63|
| 19|        20|    303.0|      102.0|              3.0|3.5|3.0| 8.5|       0|           0.62|
| 20|        21|    312.0|      107.0|              3.0|3.0|2.0| 7.9|       1|           0.64|
| 21|        22|    325.0|      114.0|              4.0|3.0|2.0| 8.4|       0|            0.7|
| 22|        23|    328.0|      116.0|              5.0|5.0|5.0| 9.5|       1|           0.94|
+---+----------+---------+-----------+-----------------+---+---+----+--------+---------------+
only showing top 20 rows

In [596]:
data.describe()

DataFrame[summary: string, _c0: string, Serial No.: string, GRE Score: string, TOEFL Score: string, University Rating: string, SOP: string, LOR: string, CGPA: string, Research: string, Chance of Admit: string]

In [597]:
data.dtypes

[('_c0', 'int'),
 ('Serial No.', 'int'),
 ('GRE Score', 'double'),
 ('TOEFL Score', 'double'),
 ('University Rating', 'double'),
 ('SOP', 'double'),
 ('LOR', 'double'),
 ('CGPA', 'double'),
 ('Research', 'int'),
 ('Chance of Admit', 'double')]

In [598]:
data.columns

['_c0',
 'Serial No.',
 'GRE Score',
 'TOEFL Score',
 'University Rating',
 'SOP',
 'LOR',
 'CGPA',
 'Research',
 'Chance of Admit']

In [599]:
data.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Serial No.: integer (nullable = true)
 |-- GRE Score: double (nullable = true)
 |-- TOEFL Score: double (nullable = true)
 |-- University Rating: double (nullable = true)
 |-- SOP: double (nullable = true)
 |-- LOR: double (nullable = true)
 |-- CGPA: double (nullable = true)
 |-- Research: integer (nullable = true)
 |-- Chance of Admit: double (nullable = true)

In [600]:
data.count()

460

In [601]:
data.show()

+---+----------+---------+-----------+-----------------+---+---+----+--------+---------------+
|_c0|Serial No.|GRE Score|TOEFL Score|University Rating|SOP|LOR|CGPA|Research|Chance of Admit|
+---+----------+---------+-----------+-----------------+---+---+----+--------+---------------+
|  0|         1|    337.0|      118.0|              4.0|4.5|4.5|9.65|       1|           0.92|
|  1|         2|    324.0|      107.0|              4.0|4.0|4.5|8.87|       1|           0.76|
|  3|         4|    322.0|      110.0|              3.0|3.5|2.5|8.67|       1|            0.8|
|  4|         5|    314.0|      103.0|              2.0|2.0|3.0|8.21|       0|           0.65|
|  5|         6|    330.0|      115.0|              5.0|4.5|3.0|9.34|       1|            0.9|
|  7|         8|    308.0|      101.0|              2.0|3.0|4.0| 7.9|       0|           0.68|
|  8|         9|    302.0|      102.0|              1.0|2.0|1.5| 8.0|       0|            0.5|
|  9|        10|    323.0|      108.0|              3.0|3.5|3.0| 8.6|       0|           0.45|
| 10|        11|    325.0|      106.0|              3.0|3.5|4.0| 8.4|       1|           0.52|
| 11|        12|    327.0|      111.0|              4.0|4.0|4.5| 9.0|       1|           0.84|
| 13|        14|    307.0|      109.0|              3.0|4.0|3.0| 8.0|       1|           0.62|
| 14|        15|    311.0|      104.0|              3.0|3.5|2.0| 8.2|       1|           0.61|
| 15|        16|    314.0|      105.0|              3.0|3.5|2.5| 8.3|       0|           0.54|
| 16|        17|    317.0|      107.0|              3.0|4.0|3.0| 8.7|       0|           0.66|
| 17|        18|    319.0|      106.0|              3.0|4.0|3.0| 8.0|       1|           0.65|
| 18|        19|    318.0|      110.0|              3.0|4.0|3.0| 8.8|       0|           0.63|
| 19|        20|    303.0|      102.0|              3.0|3.5|3.0| 8.5|       0|           0.62|
| 20|        21|    312.0|      107.0|              3.0|3.0|2.0| 7.9|       1|           0.64|
| 21|        22|    325.0|      114.0|              4.0|3.0|2.0| 8.4|       0|            0.7|
| 22|        23|    328.0|      116.0|              5.0|5.0|5.0| 9.5|       1|           0.94|
+---+----------+---------+-----------+-----------------+---+---+----+--------+---------------+
only showing top 20 rows

In [602]:
from pyspark.ml.feature import StringIndexer, VectorAssembler, OneHotEncoder

In [603]:
vec_ass = VectorAssembler(inputCols=[
'_c0',
 'GRE Score',
 'TOEFL Score',
 'University Rating',
 'SOP',
 'LOR',
 'CGPA',
 'Research'], outputCol="allfeatures")

In [604]:
from pyspark.ml.regression import LinearRegression
linear = LinearRegression(featuresCol="allfeatures", labelCol="Chance of Admit")

In [605]:
newdata = vec_ass.transform(data)

In [606]:
from pyspark.ml import Pipeline

In [607]:
training, test = newdata.randomSplit([.8, .2])

In [608]:
model = linear.fit(training)

In [609]:
result = model.transform(test)

In [610]:
result.show()

+---+----------+---------+-----------+-----------------+---+---+----+--------+---------------+--------------------+-------------------+
|_c0|Serial No.|GRE Score|TOEFL Score|University Rating|SOP|LOR|CGPA|Research|Chance of Admit|         allfeatures|         prediction|
+---+----------+---------+-----------+-----------------+---+---+----+--------+---------------+--------------------+-------------------+
|  4|         5|    314.0|      103.0|              2.0|2.0|3.0|8.21|       0|           0.65|[4.0,314.0,103.0,...| 0.6066976908422705|
| 16|        17|    317.0|      107.0|              3.0|4.0|3.0| 8.7|       0|           0.66|[16.0,317.0,107.0...| 0.6962740877334241|
| 33|        34|    340.0|      114.0|              5.0|4.0|4.0| 9.6|       1|            0.9|[33.0,340.0,114.0...| 0.9161542745634963|
| 38|        39|    304.0|      105.0|              1.0|3.0|1.5| 7.5|       0|           0.52|[38.0,304.0,105.0...|0.49835997315382397|
| 42|        43|    313.0|      107.0|              2.0|2.5|2.0| 8.5|       1|           0.53|[42.0,313.0,107.0...| 0.6738472670158413|
| 44|        45|    326.0|      113.0|              5.0|4.5|4.0| 9.4|       1|           0.91|[44.0,326.0,113.0...|  0.869868597913561|
| 58|        59|    300.0|       99.0|              1.0|3.0|2.0| 6.8|       1|           0.36|[58.0,300.0,99.0,...| 0.4380860025888942|
| 59|        60|    311.0|      104.0|              2.0|2.0|2.0| 8.3|       0|           0.42|[59.0,311.0,104.0...| 0.6054679207495861|
| 60|        61|    309.0|      100.0|              2.0|3.0|3.0| 8.1|       0|           0.48|[60.0,309.0,100.0...| 0.5878767085839802|
| 78|        79|    296.0|       95.0|              2.0|3.0|2.0|7.54|       1|           0.44|[78.0,296.0,95.0,...| 0.5097645042257994|
| 79|        80|    294.0|       93.0|              1.0|1.5|2.0|7.36|       0|           0.46|[79.0,294.0,93.0,...| 0.4331093656745124|
| 80|        81|    312.0|      105.0|              3.0|2.0|3.0|8.02|       1|            0.5|[80.0,312.0,105.0...| 0.6326259232677429|
| 83|        84|    322.0|      115.0|              5.0|4.0|4.5|9.36|       1|           0.92|[83.0,322.0,115.0...| 0.8705764477095774|
| 84|        85|    340.0|      115.0|              5.0|4.5|4.5|9.45|       1|           0.94|[84.0,340.0,115.0...| 0.9160411715569106|
| 91|        92|    299.0|       97.0|              3.0|5.0|3.5|7.66|       0|           0.38|[91.0,299.0,97.0,...| 0.5397808074906478|
| 93|        94|    301.0|       97.0|              2.0|3.0|3.0|7.88|       1|           0.44|[93.0,301.0,97.0,...| 0.5764151993036497|
| 95|        96|    304.0|      100.0|              4.0|1.5|2.5|7.84|       0|           0.42|[95.0,304.0,100.0...| 0.5494141835286512|
|105|       106|    316.0|      110.0|              3.0|4.0|4.5|8.78|       1|           0.69|[105.0,316.0,110....| 0.7715774940099782|
|111|       112|    321.0|      109.0|              4.0|4.0|4.0|8.68|       1|           0.69|[111.0,321.0,109....| 0.7666403872441732|
|113|       114|    320.0|      110.0|              2.0|4.0|3.5|8.56|       0|           0.72|[113.0,320.0,110....|  0.703064721423984|
+---+----------+---------+-----------+-----------------+---+---+----+--------+---------------+--------------------+-------------------+
only showing top 20 rows

In [611]:
from pyspark.ml.evaluation import RegressionEvaluator
eval = RegressionEvaluator(predictionCol="prediction", labelCol='Chance of Admit', metricName="r2")
eval.evaluate(result)

0.8490299989697287

In [612]:
from pyspark.ml.evaluation import RegressionEvaluator
eval = RegressionEvaluator(predictionCol="prediction", labelCol='Chance of Admit', metricName="rmse")
eval.evaluate(result)

0.06430619732721732

In [613]:
from pyspark.ml.evaluation import RegressionEvaluator
eval = RegressionEvaluator(predictionCol="prediction", labelCol='Chance of Admit', metricName="mse")
eval.evaluate(result)

0.0041352870146870125

In [614]:
from pyspark.ml.evaluation import RegressionEvaluator
eval = RegressionEvaluator(predictionCol="prediction", labelCol='Chance of Admit', metricName="mae")
eval.evaluate(result)

0.048282776815045