In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 35 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 43.3 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=13ac2fdcf6d4c1733132c3f8d1998f6e26fc4b8ce3450d565b8d074ed5f54b22
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
from pyspark import SparkConf, SparkContext

In [ ]:
if __name__ == "__main__":
  conf = SparkConf().setAppName("MyCode").setMaster("local[2]")
  sc = SparkContext(conf = conf)

In [ ]:
data = sc.textFile("BigMart_Sales.csv")

In [ ]:
data.take(4)

['Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales',
 'FDA15,9.3,Low Fat,0.016047301,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,4235.475',
 'DRC01,5.92,Regular,0.019278216,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,604.4969',
 'FDN15,17.5,Low Fat,0.016760075,Meat,141.618,OUT049,1999,Medium,Tier 1,Supermarket Type1,2358.5261']

In [ ]:
data.getNumPartitions()

2

In [ ]:
data.count()

8524

# Remove Heading

In [ ]:
header = data.first()
header

'Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales'

In [ ]:
newdata = data.filter(lambda x: x!=header)
newdata.take(5)

['FDA15,9.3,Low Fat,0.016047301,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,4235.475',
 'DRC01,5.92,Regular,0.019278216,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,604.4969',
 'FDN15,17.5,Low Fat,0.016760075,Meat,141.618,OUT049,1999,Medium,Tier 1,Supermarket Type1,2358.5261',
 'FDX07,19.2,Regular,0.0,Fruits and Vegetables,182.095,OUT010,1998,Medium,Tier 3,Grocery Store,811.6203',
 'NCD19,8.93,Low Fat,0.0,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,736.0226']

# First Function

### Total Item_Outlet_Sales of given Outlet_Type having given item_fat as per item_type

In [ ]:
import pandas as pd
class function1:
  def __init__(self, marttype, fat):
    self.marttype = marttype
    self.fat = fat

  def filters(self, x):
    a = x.split(",")[10]
    b = x.split(",")[2]
    if a == self.marttype and b == self.fat:
      return (x.split(",")[4], x.split(",")[11])
  
  def sale(self, x, y):
    return float(x) + float(y)
  
  def sort(self, x):
    a = float(x[1])
    return a

  def table(self,foodrdd):
    dic = {}
    food_name = []
    total_sale = []
    for i in foodrdd.collect():
      food_name.append(i[0])
      total_sale.append(i[1])
    dic["Food_name"] = food_name
    dic["Total_sale"] = total_sale
    return pd.DataFrame(dic)

if __name__ == "__main__":
  marttype = input("1. Outlet Type :- \n 1.Supermarket Type1\n 2.Supermarket Type2\n 3.Supermarket Type3\n 4.Grocery Store\nEnter Outlet Type: ")
  fat = input("2. Item Fat:- \n 1.Low Fat\n 2.Regular\nEnter Item Fat Content: ")
  fun1 = function1(marttype, fat)
  newrdd = newdata.filter(fun1.filters).map(fun1.filters).reduceByKey(fun1.sale).sortBy(fun1.sort)
  result1 = fun1.table(newrdd)

1. Outlet Type :-
 1.Supermarket Type1
 2.Supermarket Type2
 3.Supermarket Type3
 4.Grocery Store
Enter Outlet Type: Supermarket Type1
2. Item Fat:-
 1.Low Fat
 2.Regular
Enter Item Fat Content: Low Fat

In [ ]:
result1

                Food_name    Total_sale
0                 Seafood  4.248980e+04
1               Breakfast  6.637590e+04
2           Starchy Foods  1.441969e+05
3                    Meat  1.863575e+05
4                  Breads  1.926356e+05
5                  Others  2.194258e+05
6             Hard Drinks  3.033961e+05
7            Baking Goods  3.767422e+05
8                  Canned  4.824855e+05
9             Soft Drinks  5.065147e+05
10                  Dairy  6.081809e+05
11           Frozen Foods  6.167147e+05
12     Health and Hygiene  6.755549e+05
13  Fruits and Vegetables  8.557449e+05
14            Snack Foods  1.067197e+06
15              Household  1.320444e+06

# Second Function

### Total Sales of give Outlet_Location of given Outlet_Size

In [ ]:
class function2:
  def __init__(self, location, size):
    self.location = location
    self.size = size
  
  def myfilter(self,x):
    a = x.split(",")[9]
    b = x.split(",")[8]
    if a == self.location and self.size:
      return x.split(",")[11]
  
  def total(self,x,y):
    return float(x) + float(y)

if __name__ == "__main__":
  location = input("1. Outlet Location:- \n 1.Tier 1\n 2.Tier 2\n 3.Tier 3\nEnter Outlet Location: ")
  size = input("2. Outlet Size:- \n 1.Medium\n 2.Small\n 3.High\nEnter Outlet Size: ")
  fun2 = function2(location, size)
  newrdd2 = newdata.filter(fun2.myfilter).map(fun2.myfilter).reduce(fun2.total)
  print("Total Sales Of Outlet_Location '{}' of Outlet_Size '{}' is {}".format(location, size, newrdd2))

1. Outlet Location:-
 1.Tier 1
 2.Tier 2
 3.Tier 3
Enter Outlet Location: Tier 2
2. Outlet Size:-
 1.Medium
 2.Small
 3.High
Enter Outlet Size: High
Total Sales Of Outlet_Location 'Tier 2' of Outlet_Size 'High' is 6469329.444733999

# Third Function

### According to item fat and sales greater then 4000 filter all item type, item price, item weight

In [ ]:
import pandas as pd
class function3:
  def __init__(self, fat):
    self.fat = fat
  
  def myfilter(self,x):
    a = x.split(",")
    b = x.split(",")
    if a[2] == self.fat and float(b[11]) >= 4000:
      return [x.split(",")[4], x.split(",")[5], x.split(",")[1]]
    
  def sort(self,x):
    a = float(x[1])
    return a
  
  def table(self, data):
    dic = {}
    food = []
    price = []
    weight = []
    for i in data.collect():
      food.append(i[0])
      price.append(i[1])
      weight.append(i[2])
    dic["Food_Name"] = food
    dic["Price"] = price
    dic["Weight"] = weight
    return pd.DataFrame(dic)

if __name__ == "__main__":
  fat = input("2. Item Fat:- \n 1.Low Fat\n 2.Regular\nEnter Item Fat Content: ")
  fun3 = function3(fat)
  newrdd3 = newdata.filter(fun3.myfilter).map(fun3.myfilter).sortBy(fun3.sort)
  result3 = fun3.table(newrdd3)

2. Item Fat:-
 1.Low Fat
 2.Regular
Enter Item Fat Content: Low Fat

In [ ]:
result3

                 Food_Name     Price              Weight
0                Household  125.9336  12.857645184135976
1             Baking Goods  127.5362                 9.1
2       Health and Hygiene  139.9154  12.857645184135976
3    Fruits and Vegetables  140.6154  12.857645184135976
4              Snack Foods  140.9154               18.25
..                     ...       ...                 ...
570                 Canned  265.2226                10.0
571                  Dairy  265.2568              10.895
572                 Canned  266.1884               6.465
573     Health and Hygiene  266.5884                 9.0
574     Health and Hygiene  266.6884                 9.0

[575 rows x 3 columns]

# Fourth Function

### Year wise Total Sales

In [ ]:
import pandas as pd
class function4:
  def mymap(x):
    return (x.split(",")[7], x.split(",")[11])

  def myreduce(x,y):
    a = float(x) + float(y)
    return a
  
  def sort(x):
    a = x[1]
    return a

  def table(data):
    dic = {}
    year = []
    sales = []
    for i in data.collect():
      year.append(i[0])
      sales.append(i[1])
    dic["Year"] = year
    dic["Total_Sales"] = sales
    return pd.DataFrame(dic)

fun4 = function4
newrdd4 = newdata.map(fun4.mymap).reduceByKey(fun4.myreduce).sortBy(fun4.sort)
result4 = fun4.table(newrdd4)

In [ ]:
result4

   Year   Total_Sales
0  1998  1.909775e+05
1  2009  1.855210e+06
2  2002  2.040726e+06
3  1997  2.118801e+06
4  1987  2.140092e+06
5  2007  2.165617e+06
6  1999  2.182020e+06
7  2004  2.262986e+06
8  1985  3.634365e+06

# Fifth Function